footer {
    background-color: var(--branco);
    height: 10vh;
    font-family: var(--open);
    font-size: .9em;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}