.hobbies {
	background-color: var(--claro-principal);
	color: var(--vermelho);
	font-family: var(--mont);
}

.hobbies__lista__cards {
	margin: 0 auto;
	width: 95%;

	display: grid;
	grid-template-columns: 1fr 1fr;
}

.hobbies__card {
	background-color: white;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 30px;
	padding-top: 100px;
	width: 60%;
}

.hobbies__card:hover {
	box-shadow: 2px 2px 5px var(--detalhes);
}

.hobbies__card i {
	color: var(--detalhes);
	font-size: 1.5em;
	padding-bottom: 10px;
}

.skills__card p {
	color: var(--preto);
	font-size: 1em
}

/* --- Tablet --- */
@media screen and (min-width: 768px) {
	.hobbies__lista__cards {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* --- Desktop --- */
@media screen and (min-width: 1200px) {
	.hobbies__lista__cards {
		width: 100%;
	}

	.hobbies__lista__cards {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.hobbies__card {
		font-size: 1em;
		padding: 10px;
		padding-top: 100px;
		width: 150px;
	}

	.hobbies__card i {
		font-size: 1.5em;
		padding-bottom: 8px;
	}
}